.currency_list {
  position: relative;
  width: 700px;
  height: 315px;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  padding: 20px 38px;
  box-shadow: 0 4px 4px -2px #dbdbdb, inset 0 0 0 1px #f1f1f1;
}

.currency_list::-webkit-scrollbar {
  width: 12px;
}

.currency_list::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px 0px;
}

.currency_list::-webkit-scrollbar-thumb {
  background-color: rgba(100,100,100, 0.2);
  outline: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.currency_item {
  width: 80px;
  height: 65px;
  background-color:#fff5f0;
  margin: 11px 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #eee, 0 3px 4px -1px #ddd;
}


.currency_image {
  width: 30px; height: 30px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  box-shadow: inset 0 0 0 1px #aaa;
  border-radius: 50%;
}

.currency_text {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 14px;
}

.currency_item_active {
  box-shadow: 0 0 0 1px tomato;
}